
<h2 class="title text-center">Les dernières annonces</h2>
<div ng-repeat="annonce in annonces" class="item active">
	<div class="col-sm-3">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
<!-- 				<img ng-src="data:image/JPEG;base64,{{image}}"> -->
					<a href="#"> <img ng-src="data:image/jpg;base64,{{annonce.imgB64}}"
						alt="test.com" style="width: 100px;height: 100px"/>
						<h2>$ {{annonce.prix}}</h2>
						<p>{{annonce.titre}}</p>

					</a> <a href="#" class="btn btn-default add-to-cart"><i
						class="fa fa-shopping-cart"></i>Add to cart</a>
				</div>

			</div>
		</div>
	</div>

</div>


