
<h2 class="title text-center">Les annonces à la une</h2>
<div ng-repeat="annonce in annonces" class="item active">
	<div class="col-sm-3">
		<div class="product-image-wrapper">
			<div class="single-products">
				<div class="productinfo text-center">
					<img src="images/home/recommend1.jpg" alt="" />
					<h2>$ {{annonce.prix}}</h2>
					<p>{{annonce.titre}}</p>
					<a href="#" class="btn btn-default add-to-cart"><i
						class="fa fa-shopping-cart"></i>Add to cart</a>
				</div>

			</div>
		</div>
	</div>

</div>


